body {
    background-color: linen;
}
#datepicker {
    margin-top: 50px;
    margin-left: 40%;
}
#btn_personen_anzeigen{
    margin-left: 50%;
    width: 50%;
}
#tabelle_ausgabe{
    position: absolute;
    margin-left: 40%;
    width: 50%;
}

table {
    width: 100%;
}
#form_neu_anlegen{
    border: 1px solid black;
    width: 200px;
}
