<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Geburtstage</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
       <link rel="stylesheet" href="styles/index.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="js/main.js"></script>
  
</head>
<body>
    <div id="datepicker">
        Von: <input type="text" id="datepicker_von">
        Bis: <input type="text" id="datepicker_bis">
    </div>
 <div id="btn_personen_anzeigen">
    <p> <button onclick="getPersonen()">Personen Anzeigen</button></p>
    </div>
    
    <div id="tabelle_ausgabe">
    
    <table id="tablePersonen"
  <tr>
    <td>Name</td>
    <td>Geburtstag</td>
  </tr>
</table>
<br>
    </div>
    
<div id="form_neu_anlegen">
        <p>Neue Person Anlegen:</p>
    
     <form action="http://localhost:8080/api/personen" method="post" name="fileinfo">

        Name:<br>
            <input type="text" name="name" id="name" value="Peter"><br>
        Tag:<br>
            <input type="number" name="birthDay" id="birthDay" value="02" min="1" max="31"><br>
        Monat:<br>
            <input type="number" name="birthMonth" id="birthMonth" value="03" min="1" max="12"><br>
        Jahr:<br>
            <input type="number" name="birthYear" id="birthYear" value="2010" min="0"><br>
    
    </form> 
    <button onclick="setPersonen()">Person Anlegen</button>
    </div>    
</body>
</html>
